<!DOCTYPE html>

{% load pytags %}

<html>
<head lang="en">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://bootswatch.com/readable/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="main.js"></script>

    <meta charset="UTF-8">
    <title>
        Center for Medical Genomics
    </title>
</head>

<body>
<div class="col-md-12">

<h1 align="center">Center for Medical Genomics</h1>
<h4 align="center" style="max-width:1100px; margin-right:auto; margin-left:auto;">Bringing together researchers in medicine, genomics, molecular biology and statistics to advance basic genomic research and translate that research into new diagnostic, therapeutic, and preventive medical strategies</h4>

<!--
<div class="row">
<div class="col-md-12">
  <br>
  <div class="btn-group btn-group-justied" role="group" aria-label="...">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Our Mission</a></li>
      <li><a href="#">Impact on Medicine</a><li>
    </ul>
    <button type="button" class="btn btn-success">Labs</button>
    <button type="button" class="btn btn-info">Publications</button>
    <button type="button" class="btn btn-warning">Contact Us</button>
  </div>
</div>
</div>

-->

<div class="col-md-3" style="padding:20px;" >
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 align="center" class="panel-heading">Labs</h4>
    </div>
    <div class="panel-body">

    <ul class="media-list">
    {% for name, description, url, picture in context.labs %}
      <li class="media">
        <div class="media-left">
          <a href="{{url}}">
             <img class="media-object" src="img/{{picture}}" style="height:100px;width:100px;">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>{{name}}</strong></h4>
          <p align="justify">{{description}}</p>
        </div>
      </li>
    {% endfor %}
    </ul>
    </div>
  </div>
</div>





<div class="col-md-5" style="padding:20px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 align="center" class="panel-title">News</h4></div>
    <div class="panel-body" >

      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6MEsFJUMCnc" frameborder="0" allowfullscreen></iframe>
      </div>

      <ul class="media-list">
      {% for news, description, url in context.news %}
        <li class="media">
          <div class="media-body">
            <h4 align="justify">{{news}}</h4>
            <p align="justify">{{description}}<br><a href="{{url}}" class="pull-right">Full Article</a></p>
          </div>
        </li>
      {% endfor %}
      </ul>
      


<!--
    <tbody>
      <tr class="clickable-row" data-href="{{url}}">
      {% for news, description, url in context.news %}
        <td>
          <h4 align="justify">{{news}}</h4>
          <p align="justify">{{description}}</p>
        </td>
      {% endfor %}
      </tr>
    </tbody>
    -->
    </div>
  </div>

</div>


<div class="col-md-4" style="padding:20px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 align="center" class="panel-title">Incoming Events</h4>
    </div>
    <div class="panel-body">

      <ul class="media-list">
      {% for name, title, when, where, map, description, status, id in context.events %}
      {% if status == 'Incoming' %}
        <li class="media">
          <div class="media-body">
            <h4 align="justify">{{title}}</h4>
            <p align="justify">{{name}}</p>
            <p align="justify">{{when}}</p>
            <p align="justify"><a href="{{map}}">{{where}}</a></p>
            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#{{id}}" title="Do you want to know more?"><b>Read More</b></button> 
          </div>
        </li>
  
        <!-- Modal -->

        <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{id}}Label">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="{{id}}Label">{{title}}</h4>
              </div>
              <div class="modal-body">
                <p align="justify">{{description}}</p>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% endfor %}
      </ul>

    </div>
  </div>
</div>

<div class="col-md-4" style="padding:20px;">
  <div class="panel panel-default">
        <a data-toggle="collapse" href="#pastevents">
    <div class="panel-heading">
      <h4 align="center" class="panel-title">
          Past Events
      </h4>
    </div>
        </a>
    <div id="pastevents" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="media-list">
        {% for name, title, when, where, map, description, status, id in context.events %}
        {% if status == 'Past' %}
          <li class="media">
            <div class="media-body">
              <h4 align="justify">{{title}}</h4>
              <p align="justify">{{name}}</p>
              <p align="justify">{{when}}</p>
              <p align="justify"><a href="{{map}}">{{where}}</a></p>
              <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#{{id}}" title="Do you want to know more?"><b>Read More</b></button>                            
            </div>
          </li>

          <!-- Modal -->

         <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{id}}Label">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h4 class="modal-title" id="{{id}}Label">{{title}}</h4>
               </div>        
               <div class="modal-body">
                 <p align="justify">{{description}}</p>
               </div>
             </div>
           </div>
         </div>

        {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="col-md-4" style="padding:20px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 align="center" class="panel-heading">Publications</h4>
    </div>
    <div class="panel-body">
      <div class="table">
        <table class="table table-hover">
          <tr>
            <th><span class="glyphicon glyphicon-calendar"></span></th>
            <th><span class="glyphicon glyphicon-user"></span></th>
            <th><span class="glyphicon glyphicon-file"></span></th>
            <th><span class="glyphicon glyphicon-book"></span></th>
          </tr>
          {% for author, title, journal, year, url in context.publications %}
          <tr>
            <td>{{year}}</td>
            <td>{{author}}</td>
            <td><a href="{{url}}">{{title}}</a></td>
            <td><em>{{journal}}</em></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>












</body>


</html>
